.disseminationtool {
  font-family:  'Roboto', sans-serif;
  color:#545454;
  a {
    text-decoration: none;
  }
  a,
  a:visited {
    color: #545454;
  }
  a:hover {
    border-bottom: 1px solid #545454;
  }
  p {
    line-height: 1.5;
    a {
      border-bottom: 1px solid #545454;
    }
  }
  section {
    a {
      border-bottom: 1px solid #545454;
    }
  }
  li {
    list-style-type: none;

  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
  }
  &__header {
    // border-bottom: 1px solid #000;
    font-family: 'Merriweather', serif;
  }
  &__navWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    @media (min-width: 550px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: 640px) {
      align-items: center;
    }
  }
  &__logo {
    &:hover {
      border-bottom: none !important;
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 0;
    @media (min-width: 550px) {
      margin-top: 0;
      margin-bottom: 0;
    }
    @media (min-width: 640px) {
      flex-direction: row;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__navItem {
    padding-top: 8px;
    padding-bottom: 8px;
    @media (min-width: 640px) {
      &:not(:first-child) {
        margin-left: 24px;
      }
    }
  }
  &__container {
    max-width: 680px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__fullWidthColor {
    font-size: 18px;
    @media (min-width: 640px) {
      font-size: 20px;
    }
    background-color: #ffe66c;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &__link {
    &--noDeco {
      border-bottom: none !important;
    }
  }
  &__partList {
    align-items: center;
    display: flex;
    flex-direction: column;
    @media (min-width: 640px) {
      flex-direction: row;
      justify-content: space-between;
    }
    margin: 0;
    padding: 0;
  }
  &__partItem {
    border: 1px solid #545454;
    text-align: center;
    width: 300px;
    &:not(:first-child) {
      margin-top: 10px;
      @media (min-width: 640px) {
        margin-top: 0px;
        margin-left: 10px;
      }
    }
    @media (min-width: 640px) {
      margin-top: 0;
      width: 100%;
    }
    &:hover {
      background-color: #545454;
      color: #fff;
    }
  }
  &__partLink {
    &:hover {
      color: #fff !important;
    }
    border-bottom: none !important;
    display: block;
    padding: 8px;

  }
  &__startSection {
    margin-top: 64px;
    &:nth-child(even) {
      .disseminationtool__textWrap {
        border-left: 10px solid #ffe66c;
        padding-left: 16px;
      }
    }
    &:nth-child(odd) {
      .disseminationtool__textWrap {
      border-right: 10px solid #ffe66c;
      padding-right: 16px;
      }
    }
  }
  &__bottomSpace {
    margin-bottom: 16px;
  }
  &__bottomSection {
    font-size: 14px;
    margin-top: 128px;
    li {
      list-style-type: decimal;
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }
  &__footer {
    border-top: 1px solid #545454;
    margin-top: 64px;
  }
  &__footerContent {
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__researchGate {
    margin-top: 64px;
    display: flex;
    justify-content: center
  }
  &__code {
    background-color: #0f065d;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px;
    overflow: auto;
    &--functionDecl {
      color: #ff50c8;
    }
    &--function {
      color: orange;
    }
    &--spanFunc {
      margin-left: 6px;
    }
    pre {
      display: inline-block;
    }
    &--tabOne {
      margin: 0 0 0 16px;
    }
    &--tabTwo {
      margin: 0 0 0 32px;
    }
  }
  &__mendeleyDoc {
    border-left: 10px solid #ffe66c;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    margin-top: 32px;
  }
  &__input {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    border: 10px solid #F7F7F7;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  &__mendeleyProfile,
  &__mendeleyPub {
    margin-top: 64px;
  }
  &__profileName {
    font-weight: 600;
  }
  &__showAbstract {
    background: none;
    border: 1px solid #545454;
    cursor: pointer;
    margin-top: 12px;
    padding: 4px;
    text-align: center;
    width: 70px;
    &:hover {
      background-color: #545454;
      color: #fff;
    }
  }
  &__abstract {
    display: none;
    margin-top: 0;
    font-size: 14px;
  }
  &__hl {
    background:#ffc600;
  }
  &__checkBox {
    display: none;
  }
  &__checkBox:checked + .disseminationtool__abstract {
    display: block;
    margin-top: 14px;
  }
}