.disseminationtool {
  font-family: 'Roboto', sans-serif;
  color: #545454; }
  .disseminationtool a {
    text-decoration: none; }
  .disseminationtool a,
  .disseminationtool a:visited {
    color: #545454; }
  .disseminationtool a:hover {
    border-bottom: 1px solid #545454; }
  .disseminationtool p {
    line-height: 1.5; }
    .disseminationtool p a {
      border-bottom: 1px solid #545454; }
  .disseminationtool section a {
    border-bottom: 1px solid #545454; }
  .disseminationtool li {
    list-style-type: none; }
  .disseminationtool h1,
  .disseminationtool h2,
  .disseminationtool h3,
  .disseminationtool h4,
  .disseminationtool h5,
  .disseminationtool h6 {
    font-family: 'Merriweather', serif; }
  .disseminationtool__header {
    font-family: 'Merriweather', serif; }
  .disseminationtool__navWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px; }
    @media (min-width: 550px) {
      .disseminationtool__navWrapper {
        flex-direction: row;
        justify-content: space-between; } }
    @media (min-width: 640px) {
      .disseminationtool__navWrapper {
        align-items: center; } }
  .disseminationtool__logo:hover {
    border-bottom: none !important; }
  .disseminationtool__nav {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 0; }
    @media (min-width: 550px) {
      .disseminationtool__nav {
        margin-top: 0;
        margin-bottom: 0; } }
    @media (min-width: 640px) {
      .disseminationtool__nav {
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0; } }
  .disseminationtool__navItem {
    padding-top: 8px;
    padding-bottom: 8px; }
    @media (min-width: 640px) {
      .disseminationtool__navItem:not(:first-child) {
        margin-left: 24px; } }
  .disseminationtool__container {
    max-width: 680px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; }
  .disseminationtool__fullWidthColor {
    font-size: 18px;
    background-color: #ffe66c;
    padding-top: 16px;
    padding-bottom: 16px; }
    @media (min-width: 640px) {
      .disseminationtool__fullWidthColor {
        font-size: 20px; } }
  .disseminationtool__link--noDeco {
    border-bottom: none !important; }
  .disseminationtool__partList {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; }
    @media (min-width: 640px) {
      .disseminationtool__partList {
        flex-direction: row;
        justify-content: space-between; } }
  .disseminationtool__partItem {
    border: 1px solid #545454;
    text-align: center;
    width: 300px; }
    .disseminationtool__partItem:not(:first-child) {
      margin-top: 10px; }
      @media (min-width: 640px) {
        .disseminationtool__partItem:not(:first-child) {
          margin-top: 0px;
          margin-left: 10px; } }
    @media (min-width: 640px) {
      .disseminationtool__partItem {
        margin-top: 0;
        width: 100%; } }
    .disseminationtool__partItem:hover {
      background-color: #545454;
      color: #fff; }
  .disseminationtool__partLink {
    border-bottom: none !important;
    display: block;
    padding: 8px; }
    .disseminationtool__partLink:hover {
      color: #fff !important; }
  .disseminationtool__startSection {
    margin-top: 64px; }
    .disseminationtool__startSection:nth-child(even) .disseminationtool__textWrap {
      border-left: 10px solid #ffe66c;
      padding-left: 16px; }
    .disseminationtool__startSection:nth-child(odd) .disseminationtool__textWrap {
      border-right: 10px solid #ffe66c;
      padding-right: 16px; }
  .disseminationtool__bottomSpace {
    margin-bottom: 16px; }
  .disseminationtool__bottomSection {
    font-size: 14px;
    margin-top: 128px; }
    .disseminationtool__bottomSection li {
      list-style-type: decimal; }
      .disseminationtool__bottomSection li:not(:first-child) {
        margin-top: 8px; }
  .disseminationtool__footer {
    border-top: 1px solid #545454;
    margin-top: 64px; }
  .disseminationtool__footerContent {
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px; }
  .disseminationtool__researchGate {
    margin-top: 64px;
    display: flex;
    justify-content: center; }
  .disseminationtool__code {
    background-color: #0f065d;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    padding: 16px;
    overflow: auto; }
    .disseminationtool__code--functionDecl {
      color: #ff50c8; }
    .disseminationtool__code--function {
      color: orange; }
    .disseminationtool__code--spanFunc {
      margin-left: 6px; }
    .disseminationtool__code pre {
      display: inline-block; }
    .disseminationtool__code--tabOne {
      margin: 0 0 0 16px; }
    .disseminationtool__code--tabTwo {
      margin: 0 0 0 32px; }
  .disseminationtool__mendeleyDoc {
    border-left: 10px solid #ffe66c;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    margin-top: 32px; }
  .disseminationtool__input {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    border: 10px solid #F7F7F7;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    width: 100%; }
  .disseminationtool__mendeleyProfile, .disseminationtool__mendeleyPub {
    margin-top: 64px; }
  .disseminationtool__profileName {
    font-weight: 600; }
  .disseminationtool__showAbstract {
    background: none;
    border: 1px solid #545454;
    cursor: pointer;
    margin-top: 12px;
    padding: 4px;
    text-align: center;
    width: 70px; }
    .disseminationtool__showAbstract:hover {
      background-color: #545454;
      color: #fff; }
  .disseminationtool__abstract {
    display: none;
    margin-top: 0;
    font-size: 14px; }
  .disseminationtool__hl {
    background: #ffc600; }
  .disseminationtool__checkBox {
    display: none; }
  .disseminationtool__checkBox:checked + .disseminationtool__abstract {
    display: block;
    margin-top: 14px; }
